<header class="sheet-header sheet-header--minimal" data-zone="header">
  <h1 class="charname"><input name="name" type="text" value="{{document.name}}" placeholder="{{localize 'Name'}}" /></h1>
  {{#unless buildComplete}}
  <p class="chargen-warning">{{localize "ASHANVIL.ChargenIncompleteBanner"}}</p>
  {{/unless}}
</header>
