<div class="item-row-actions flexrow">
  <button type="button" class="item-action" data-action="editItem" data-item-id="{{id}}" title="{{localize 'ASHANVIL.EditItem'}}">
    <i class="fa-solid fa-pen"></i>
  </button>
  <button type="button" class="item-action" data-action="deleteItem" data-item-id="{{id}}" title="{{localize 'ASHANVIL.DeleteItem'}}">
    <i class="fa-solid fa-trash"></i>
  </button>
</div>
