<div class="sheet-zone sheet-zone--effects-passive" data-zone="effects-passive">
  {{> "systems/ash-and-anvil/templates/actor/parts/effect-list.hbs"
    effects=effects.passive
    emptyHint=effects.passiveHint
  }}
</div>
