<div class="sheet-zone sheet-zone--effects-active" data-zone="effects-active">
  {{> "systems/ash-and-anvil/templates/actor/parts/effect-list.hbs"
    effects=effects.active
    emptyHint=effects.activeHint
  }}
</div>
