<div class="sheet-zone sheet-zone--powers-spellcasting" data-zone="powers-spellcasting">
  {{> "systems/ash-and-anvil/templates/actor/parts/spell-level-groups.hbs"
    levelGroups=powers.spellcasting.levelGroups
    tradition="arcane"
    tabId="spellcasting"
    emptyHint=powerHints.spellcasting
  }}
</div>
