<div class="sheet-zone sheet-zone--powers-spellcasting" data-zone="powers-spellcasting">
  {{> "systems/ash-and-anvil/templates/actor/parts/spell-list.hbs"
    spells=powers.spellcasting
    tradition="arcane"
    emptyHint=powerHints.spellcasting
  }}
</div>
