<div class="sheet-zone sheet-zone--powers-divine-gifts" data-zone="powers-divine-gifts">
  {{> "systems/ash-and-anvil/templates/actor/parts/spell-list.hbs"
    spells=powers.divineGifts
    tradition="divine"
    emptyHint=powerHints.divineGifts
  }}
</div>
