<div class="sheet-zone sheet-zone--powers-psionics" data-zone="powers-psionics">
  {{> "systems/ash-and-anvil/templates/actor/parts/spell-level-groups.hbs"
    levelGroups=powers.psionics.levelGroups
    tradition="psionic"
    tabId="psionics"
    emptyHint=powerHints.psionics
  }}
</div>
