<div class="sheet-zone sheet-zone--powers-psionics" data-zone="powers-psionics">
  {{> "systems/ash-and-anvil/templates/actor/parts/spell-list.hbs"
    spells=powers.psionics
    tradition="psionic"
    emptyHint=powerHints.psionics
  }}
</div>
