<div class="sheet-zone sheet-zone--powers" data-zone="powers">
  <nav class="sheet-subtabs flexrow" data-group="powers">
    {{#each powers.subTabs as |tab|}}
    <button
      type="button"
      class="sheet-subtab {{#if (eq ../activeSubTabs.powers tab.id)}}active{{/if}} {{#unless tab.enabled}}sheet-subtab--disabled{{/unless}}"
      data-action="changeSubTab"
      data-group="powers"
      data-tab="{{tab.id}}"
      {{#unless tab.enabled}}disabled aria-disabled="true"{{/unless}}
      title="{{#unless tab.enabled}}{{localize 'ASHANVIL.PowerTabUnavailable'}}{{/unless}}"
    >{{localize tab.labelKey}}</button>
    {{/each}}
  </nav>

  <div class="sheet-subtab-content" data-subtab-panel="powers-{{activeSubTabs.powers}}">
    {{#if (eq activeSubTabs.powers "spellcasting")}}
    {{> "systems/ash-and-anvil/templates/actor/tabs/powers-spellcasting.hbs"}}
    {{/if}}
    {{#if (eq activeSubTabs.powers "psionics")}}
    {{> "systems/ash-and-anvil/templates/actor/tabs/powers-psionics.hbs"}}
    {{/if}}
    {{#if (eq activeSubTabs.powers "divineGifts")}}
    {{> "systems/ash-and-anvil/templates/actor/tabs/powers-divine-gifts.hbs"}}
    {{/if}}
  </div>
</div>
