<section class="sheet-body character-sheet-body">
  <nav class="sheet-tabs flexrow" data-group="primary">
    {{#each tabs as |tab|}}
    <button
      type="button"
      class="sheet-tab {{#if (eq ../activeTab tab.id)}}active{{/if}}"
      data-action="changeTab"
      data-tab="{{tab.id}}"
    >{{localize tab.labelKey}}</button>
    {{/each}}
  </nav>

  <div class="sheet-tab-content" data-tab-panel="{{activeTab}}">
    {{#if (eq activeTab "main")}}
    {{> "systems/ash-and-anvil/templates/actor/tabs/main.hbs"}}
    {{/if}}
    {{#if (eq activeTab "features")}}
    {{> "systems/ash-and-anvil/templates/actor/tabs/features.hbs"}}
    {{/if}}
    {{#if (eq activeTab "biography")}}
    {{> "systems/ash-and-anvil/templates/actor/tabs/biography.hbs"}}
    {{/if}}
  </div>
</section>
