<form class="sheet-body">
  <div class="form-group">
    <label>{{localize "ASHANVIL.Description"}}</label>
    {{editor system.description target="system.description" button=true editable=editable engine="prosemirror"}}
  </div>
</form>
